.DS_Store
bondforu.com/*
/uploads/*
/todo/*
application/cache/*
application/config/*
system/*
application/resources/*

application/logs/*

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/assets/
/vendor/
/websiteadmin/vendor/*
/websiteadmin/assets/*
/websiteadmin/assets_mat/*
/websiteadmin/global_assets/*
/websiteadmin/system/*
/websiteadmin/uploads/*
/websiteadmin/application/config/*
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
