.navbar-brand {
    display: inline-block;
     padding-top:  0px!important;
     padding-bottom:  0px!important;
     margin-right: 0px!important;
    font-size: 0;
    line-height: inherit;
    white-space: nowrap;
}

.nav-sidebar .nav-item:not(.nav-item-header):first-child {
    padding-top: 0px!important;
}
.sidebar-light .nav-sidebar>.nav-item-open>.nav-link:not(.disabled), .sidebar-light .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #5caf2d!important;
    color: #ffffff!important;
}
.sidebar-light .nav-sidebar .nav-link:not(.disabled):hover {
    color: #ffffff !important;
    background-color: #6cbf3e !important;
}
.navbar-brand img {
      height: auto!important;
    display: block;
    padding: 10px 0;
    max-width: 170px;
}

.sidebar-light .sidebar-mobile-toggler:not([class*=bg-]) {
    background-color: #00669b!important;
}
.sidebar-light .sidebar-mobile-toggler {
    color: #ffffff!important;
    border-bottom-color: rgba(0,0,0,.125);
}
.sidebar-light .sidebar-mobile-toggler a {
    color: #ffffff!important;
}

.sidebar-light .nav-sidebar .nav-item>.nav-link.active {
    background-color: #6cbf3e;
    color: #FFF;
}
/*#5caf2d5c*/

.badge-danger,.badge-success,.badge{min-width: 50px;}
.dashboard-one{position: relative; padding: 10px 10px 10px 72px; min-height: 75px;}
.dashboard-one img{position: absolute; left: 10px; top:10px; width: auto; height: auto;}
.dashboard_title{color: #FFF; font-size: 15px; text-transform: uppercase; font-weight: 500; line-height: 28px; padding: 0;}
.dashboard_title span{display: block; font-size: 21px; font-weight: 500;}
.btn-primary{background :#00669b!important}
